<div class="tab flexcol" data-group="primary" data-tab="stats">
  <ul>
    {{#each document.system.stats}}
    <li class="flexrow stat-list-item">
      <input type="text" name="system.stats[{{@index}}].key" placeholder="key" value="{{key}}" />
      <p class="slug">{{slugify key}}</p>
      <input type="text" name="system.stats[{{@index}}].value" placeholder="value" value="{{value}}" />
      <a class="stat-ctrl inline-icon" data-action="removeStat" data-index="{{@index}}">
        <i class="far fa-trash-alt"></i>
      </a>
    </li>
    {{/each}}
  </ul>
  <a class="stat-ctrl sheet-btn side-button" data-action="addStat">{{localize "GS.SHEETS.ACTIONS.ADD_STAT"}}</a>
</div>